@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Geist-VariableFont_wght.ttf") format("truetype-variations");
}

@theme {
  --font-display: "Geist", sans-serif;

  --color-rotion-50: #ebeaed;
  --color-rotion-100: #c1bfc7;
  --color-rotion-200: #a3a0ac;
  --color-rotion-300: #797486;
  --color-rotion-400: #5f596e;
  --color-rotion-500: #37304a;
  --color-rotion-600: #322c43;
  --color-rotion-700: #272235;
  --color-rotion-800: #1e1a29;
  --color-rotion-900: #17141f;

  --animate-slide-in: slide-in 0.25s;
  --animate-slide-out: slide-out 0.25s;

  @keyframes slide-in {
    from {
      width: 0;
    }

    to {
      width: var(--radix-collapsible-content-width);
    }
  }

  @keyframes slide-out {
    from {
      width: var(--radix-collapsible-content-width);
    }

    to {
      width: 0;
    }
  }
}

html {
  overflow: hidden;
}

.region-drag {
  -webkit-app-region: drag;
}

.region-no-drag {
  -webkit-app-region: no-drag;
}
